<div id="<%= dom_id organization %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= organization.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= organization.description %>
  </p>

</div>
